[Desktop Entry]
Encoding=UTF-8
Name=Google Chrome
Comment=Browse the World Wide Web
GenericName=Web Browser
X-GNOME-FullName=Google Chrome Web Browser
Exec=google-chrome %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Google-chrome
StartupNotify=true
